


.everything{
  overflow:scroll;
  background-color: rgb(55,94,173);
  padding-bottom: 500px;
}
.items{
  padding-top:8px;
  display: flex;
  justify-content: center;
}
.marginleft{
  margin-left: 25%;
}
.background1{
  background-color: rgb(68,114,200) !important;
}
.background2{
  background-color: rgb(55,94,173) !important;
}
.imgitem{
  width:70%;
  max-width: 96px;
}
.nanoLogo{
  display: inline;
  width:10%;
  max-width: 64px;
}
.transform{
  transform: rotate(90deg);
}
.Title{
  display: inline-block;
  margin:6px;
}
.MenuBar{
  width: 100%;
  text-align: center
}
.aboutInfo{
  display: inline;
  font-size: clamp(10px, 2.5vw, 26px);
  margin-right: 5%
}
.contactInfo{
  display: inline;
  font-size: clamp(10px, 2.5vw, 24px);
  margin-left: 5%
}
.titleBox{
  display: inline;
}
p{
  text-align: center;
  font-weight: bold;
}
.left50{
  left:50%;
}
.abs{
  position:absolute;
}

.stockText{
    font-size: clamp(8px, 1.5vw, 18px);
}
.priceText{
  font-size: clamp(8px, 1.5vw, 18px);
  text-align: center;
  margin-bottom: 4px;
}
.buy2{
  text-decoration: none;
  background-color: rgb(68,114,200) !important;
  border: 1px solid;
  font-weight: bold;
  border-radius:12px;
  color: white;
    padding:2px;
  font-size: clamp(8px, 1.5vw, 18px);
}
.buy1{
  text-decoration: none;
  background-color: rgb(55,94,173) !important;
  border: 1px solid;
  font-weight: bold;
  border-radius:12px;
  color: white;
  padding:2px;
  font-size: clamp(8px, 1.5vw, 18px);
}

.inventory{
  position:fixed;
  bottom: 50%;
  right:3%;
}
.allItems{
  width: 100%;
}

.TitleText{
text-align: center;
font-size: clamp(14px, 2.5vw, 24px);
}

.product{
}
.payment{
}


.itemInfo{
  font-size: clamp(8px, 1.5vw, 18px);
  position:relative;
  bottom: 4px;
  margin-left: 6px;
  margin-right: 6px;
}
.itemName{
  color: rgb(0,112,221)
}
.itemLevel{
  color: rgb(255,209,221)
}
.itemBinds{
  color: white;
}
.itemUnique{
  color: white;
}
.itemUse{
  color: rgb(30,255,0);
}
