


.everything{
  overflow:scroll;

}
.items{
  background-color: rgb(55,94,173);
  display: flex;
  border-radius: 16px;
  min-width: 240px;
  max-width: 240px;
  margin: 15px;
}

.marginleft{
  margin-left: 25%;
}
.background{
  background-color: rgb(68,114,200);
}
.background{
  background-color: rgb(55,94,173);
}
.imgitem{
max-width: 30px;
}
.nanoLogo{
  display: inline;
  width:10%;
  max-width: 64px;
}
.transform{
  transform: rotate(90deg);
}
.Title{
  display: inline-block;
  margin:6px;
}
.MenuBar{
  width: 100%;
  text-align: center
}
.aboutInfo{
  display: inline;
  font-size: clamp(10px, 2.5vw, 24px);
  margin-right: 5%
}
.contactInfo{
  display: inline;
  font-size: clamp(10px, 2.5vw, 24px);
  margin-left: 5%
}
.titleBox{
  display: inline;
}
p{
  text-align: center;
  font-weight: bold;
}
.left50{
  left:50%;
}
.abs{
  position:absolute;
}

.stockText{
    font-size: 9px;
}
.priceText{
  font-size: 16px;
  position:absolute;
  left:207px;
  top:9px;
}

.buy1{
  text-decoration: none;
  font-weight: bold;
  border-radius:8px;
  background-color: rgb(55,164,255);
  color: rgb(55,94,173);
  padding:4.5px;
  font-size:12px;
  position:relative;
  left:180px;
  top:36px;

}

.inventory{
  position:fixed;
  bottom: 50%;
  right:3%;
}
.allItems{
  min-height: 900px;
}

.TitleText{
text-align: center;
font-size: clamp(14px, 2.5vw, 24px);
}

.product{
  padding:6px;
}


.payment{
    position: absolute;
    left:87px;
}


.itemInfo{
  padding-top:6px;
  padding-bottom:6px;
  font-size: 10px;
}
.itemName{
 color: rgb(180,75,150);
}
.itemLevel{
  color: rgb(255,209,221)
}
.itemBinds{
  color: white;
}
.itemUnique{
  color: white;
}
.itemUse{
  color: rgb(30,255,0);
}
.payLogo{
  position: absolute;
  left: 231px;
  top: 15px;
}
